/* 全体 */
body {
    margin: 0;
    background: #fff;
    font-family: sans-serif;
}

/* ヘッダー */
.header {
    background: #000;
    color: #fff;
}

.header-inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    flex-shrink: 0;
}

.logo img {
    height: 24px;
    display: block;
}

.search-form {
    flex: 1;
    max-width: 600px;
}

.search-form input {
    flex: 1;
    max-width: 400px;
}

.search-form input {
    width: 100%;
    padding: 9px 12px;
    border-radius: 4px;
    border: none;
}

/* ナビ全体 */
.nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 18px;
    flex-shrink: 0;
}

.nav a,
.nav-link,
.logout-btn {
    white-space: nowrap;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.nav a:visited {
    color: #fff;
}

/* 通常リンク */
.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

/* logoutボタンをリンク */
.logout-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
}


.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 10px;
}

/* タブ */

.tabs {
    position: relative;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.tabs::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background: #ccc;
    margin-left: calc(50% - 50vw);
}

.tab {
    padding: 10px 0;
    text-decoration: none;
    color: #000;
}

.tab:visited {
    color: #000;
}

.tab.active {
    color: red;
    font-weight: bold;
}

/* 商品一覧 */
.items-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.item-card {
    text-align: center;
    position: relative;
}

.sold-label {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #f55b5b;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
}

.item-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background: #eee;
}

.item-name {
    margin-top: 8px;
}

.item-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.item-link,
.item-link:visited,
.item-link:hover,
.item-link:active {
    text-decoration: none;
    color: #000;
}

/* 出品ボタンだけ目立たせる */
.sell-btn {
    background: #fff;
    color: #000 !important;
    padding: 6px 14px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}