.mypage-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.mypage-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.mypage-icon.default {
    background: #ccc;
}

.mypage-name {
    font-size: 18px;
    font-weight: bold;
}

.edit-profile-btn {
    display: inline-block;
    padding: 8px 16px;
    color: #f55b5b;
    border: 1px solid #f55b5b;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.2s ease;
}

.edit-profile-btn:hover {
    background-color: #f55b5b;
    color: #fff;
}

.mypage-tabs {
    position: relative;
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.mypage-tabs::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background: #ddd;
    transform: translateX(-50%);
}

.mypage-tabs a {
    padding-bottom: 10px;
    text-decoration: none;
    color: #333;
}

.mypage-tabs .active {
    color: #f55b5b;
    font-weight: bold;
}

.mypage-container {
    max-width: 1200px;
    /* ← 900〜1100で調整可 */
    margin: 60px auto;
    /* 上下余白＋中央寄せ */
    padding: 0 5px;
    /* 端にくっつかないように */
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 10px;
}

.item-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* 商品一覧のリンクの下線と色をリセット */
.item-card a {
    text-decoration: none;
    color: inherit
}

.item-name {
    margin-top: 8px;
    color: #333;
}